
/* close button */
.closebtn {
  color: white;
}



/* speech bubble */
.speech-bubble {
  background: #ddd;
  color: #333;
  display: inline-block;
	font-size: 14px;
  margin-bottom: 1em;
  padding: 0.5em;
	position: relative;
	text-align: center;
  min-width: 7em;
  margin-left: 1.3em;
}
.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
  left: -0.05em;
  top: 0em;
	width: 0;
	height: 0;
}
.aqi_preview{
  width: 50px;
  height: 50px;
}



/* sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar * {
  text-decoration: none;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 25px;
  display: block;
}
.sidebar label,h2,h5,button {
  padding: 3px 3px 3px 3px;
  color: white;
}
.sidebar input {
  padding: 3px 3px 3px 3px;
  color: black;
}
.sidebar button {
  background-color: black;
  color: white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.sidebar input {
  width: 92%;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar img {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  object-fit: cover;
}