<!DOCTYPE html>
<html>
<head>


<!-- jquery         --> <script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- jquery ui      --> <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- leaflet css    --> <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
<!-- leaflet js     --> <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<!-- plotly         --> <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
<!-- bootstrap js   --> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- bootstrap css  --> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- esri leaflet   --> <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js" integrity="sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA==" crossorigin=""></script>
<!-- esri geocoder  --> <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.3/dist/esri-leaflet-geocoder.css" integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g==" crossorigin="">
<!-- esri js        --> <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.3/dist/esri-leaflet-geocoder.js" integrity="sha512-mwRt9Y/qhSlNH3VWCNNHrCwquLLU+dTbmMxVud/GcnbXfOKJ35sznUmt3yM39cMlHR2sHbV9ymIpIMDpKg4kKw==" crossorigin=""></script>
<!-- toastify css   --> <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<!-- toastify js    --> <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- style -->
<link rel="stylesheet" href="./static/sidebar.css">

<!-- scripts -->
<script type="text/javascript"  src="./static/sonify.js"></script>
<script type="text/javascript"  src="./static/aqi_api.js"></script>
<script type="text/javascript"  src="./static/graphs.js"></script>
<script type="text/javascript"  src="./static/map.js"></script>

<script>  
var map;
var geocodeService;
var sonification_data;
$(document).ready(()=>{

    // init map
    init_map();
    
    $("#offcanvas_start_date").change(load_index);          // start date changed index    
    $("#offcanvas_end_date").change(load_index);            // end date changed index
    $("#offcanvas_index").change(load_index);               // sonification index changed
    $("#offcanvas_btn_sonify").click(sonify);               // sonify button clicked
    
});
</script>

</head>
<body>

<meta content="width=device-width, initial-scale=1" name="viewport" />

<div id="map" class="position-absolute top-0 start-0 w-100 h-100"></div>

<div id="mySidebar" class="sidebar" style="z-index: 8000;">
    <a href="javascript:void(0)" class="closebtn" onclick="hide_offcanvas()">×</a>
    <h5 id="offcanvas_location" style="text-align:center;">Offcanvas</h5>
    <h5 id="offcanvas_aqi" style="text-align:center;"></h5><br>
    <label for="offcanvas_start_date">Start date:</label>
    <input id="offcanvas_start_date" type="date" class="datepicker" /><br>
    <label for="offcanvas_end_date" class="datepicker">End date:</label>
    <input id="offcanvas_end_date" type="date" />
    <br>            
    <label for="offcanvas_plot">AQI index:</label>
    <select id="offcanvas_index" aria-label="Default select example">                
        <option value="aqi">AQI</option>
        <option value="pm25">pm 2.5</option>
        <option value="pm10">pm 10</option>                
    </select>
    <br>
    <img id="offcanvas_plot" src=""/>
    <br>
    <button type="button" id="offcanvas_btn_sonify" disabled>Sonify</button>
    <br>
    <br>
</div>

</body>
</html>